<div class="container" id="search-results-pane">
  {% for search_result in search_results %}
  <a href="{{ search_result.href }}">
    <div class="row">
      <span class="text-center fs-3 fw-bold">{{ search_result.heading }}</span>
    </div>
  </a>
  <div class="row">
    {% if search_result.uuid %}
    <span class="text-center fs-4">{{ search_result.uuid }}</span>
    <span class="text-center fs-5">{{ search_result.location }}</span>
    {% else %}
    <span class="text-center fs-4">{{ search_result.text }}</span>
    {% endif %}
  </div>
  {% endfor %}
</div>
